.top
{
  width:100%
  height:90px;

}
.top_inner
{
  width:970px;
  margin:0 auto;
  height:70px;
  font-size: 90%;
  padding-top:15px;
  color:#00CED1;

}
ul
{
list-style-type: none;
display:inline;
position:relative;
}
.l1 a
{
  color:#00CED1;
}
.blue{
  color:white;
  display: inline;
}
a{text-decoration: none;color:#A9A9A9;}
.l1 li
{
  float:right;
  padding:10px;
  padding-bottom:0%;
  margin-top:5px
}
.DD{
 display:inline;
 margin-left: 90px;
 color: #07549d;
 padding-top:20px;
}
.DD2{
   font-size: 22px;
   margin-left: 90px;
   color:#A9A9A9;
   margin-top:60px;
}
  
.cartBody
{
background-color: steelblue;
position: absolute;
width:150px;
float:right;
margin-left: 650;;
margin-top:22px;
z-index:3;
max-height:35px;
padding-top:3px;
height:100px;width:160px;
margin-left:800px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;  
}
.cartImg
{
  margin:4px;
  margin-left:15px;
  margin-top: 2px;

}
.number
{
color:white;
margin-left:10px;
}
.area
{
  background-image:url("images/website_list_page/d.jpg");
  background-repeat: no-repeat;
  height: 800px;
  position:absolute;
  width: 100%;
}
#left_box
{
margin-top:35px;
color:powderblue;
height:70px;
font-size:120%;
margin:0 auto;
padding-top:30px;
width:970px;
margin:0 auto;
}
.body_inner
{
  height:850px;
  width:970px;
  margin:0 auto;
 margin-top:40px;
}
.body_inner_left
{
  margin-left:80px;
  background-color: white;
  width:250px; 
  height:auto;
  border-radius:10%;
  display: inline-block;
 color:steelblue;
 font-size:120%;
 margin-top: 50px;
}
.body_inner_btn
{
/* position:relative; */
width:70%;
height:7%;
margin-left:30px;
}
.body_inner_right
{
  margin-top:70px;
  margin-left:40px;
  width:650px;
  display: inline-block;
  position: absolute;
  color:white;
}
.icons_upper
{
  background-image:url('images/website_list_page/Rounded-Rectangle-1.png');
  height:200px;
  width:150px;
  margin-left: 4%;
  display: inline-block;
  border-radius: 5%;
}
.icons_lower
{
  margin-top: 5%;
  background-image:url('images/website_list_page/Rounded-Rectangle-1.png');
  height:200px;
  width:150px;
  margin-left: 4%;
  display: inline-block;
  border-radius: 5%;
  position: relative;
}

.blue_rectangle
{
 position: relative;
    width:100%;
}
.package
{
position: absolute;
margin-top:5px;
margin-left:50px;
width:60px;
height:auto;
}
.green_btn
{
  position:absolute;
  width:80px;height:20px;
  margin-top:105px;
  margin-left: 40px;
}
.blue_btn
{
  position:absolute;
  width:80px;
  height:20px;
  margin-top:125px;
  margin-left:40px;
}
.rectangle_text
{
    position: absolute;
    top: 2px;
    left:auto;
    padding-left: 35px;
}
.body_inner_heading
{
color: #c0fa85;

}
hr
{
width:60px;
color:#c0fa85;
margin-bottom:-3%;
margin-top:-10px;
}
.foot
{
  height:300px;
  width:100%;
  background-color: #DCDCDC;
}
.internal
{
  height:200px;
  background: #DCDCDC;
  width:100%;
  position:relative;
  margin-top: 700px;
}
.in_internal
{
  height:30%;
  width:970px;
  margin:0 auto;
  background: #DCDCDC;
  color:#A9A9A9;
  
}
.footer_internal_body
{
  position: relative;
  height:20%;
  width:30%;
  margin:0%;
display:inline-block;
  
}
.detail  
{
 position:relative;
 width: 40;
 background: #DCDCDC;
  display: inline-block;
  color:#A9A9A9;
  margin-top:40px;
  font-size: 15px;
  margin-right: 50px;
}
.footer_nav
{
 width: 200px;
color:#A9A9A9;
margin-left:1px;
margin-right:0%;  
display: inline-block;
position:absolute;
width:150px;
margin-top:40px;
font-size: 15px;
list-style-type: none;

}

.text
{
margin-top:10px;
margin-left:20px;
margin-right:10px;
}
.area_inner
{
margin-top:70px;
margin:0 auto;
width:100%;
}
.detail_data
{
position:absolute;display:inline-block;
}

#container1>div {
    width: 15%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
   
}

